# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Data
data/raw/*
data/processed/*
*.csv
*.json
*.parquet

# IDE
.vscode/
.idea/

# Logs
*.log

# Spark generated data and metadata
data/bronze/
data/silver/
data/spark-checkpoints/

# Generated data and pipeline outputs
data/gold/
data/iceberg/

# Airflow metadata
airflow.db*

#debezium-mysql-connector.json
infrastructure/docker/debezium-mysql-connector.json